@page
@model MovieReviewer.Pages.Admins.Actors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Actor.Gender" /> @Html.DisplayNameFor(model => model.Actor.Gender) (Tick is Female)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Dob" class="control-label"></label>
                <input asp-for="Actor.Dob" class="form-control" />
                <span asp-validation-for="Actor.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Dob" class="text-info">Img:        </label>
                <input type="file" asp-for="Actor.Img" class="form-control" name="image">
            </div>
            <div class="form-group">
                <label asp-for="Actor.Detail" class="control-label"></label>
                <input asp-for="Actor.Detail" class="form-control" />
                <span asp-validation-for="Actor.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Nationality" class="control-label"></label>
                <input asp-for="Actor.Nationality" class="form-control" />
                <span asp-validation-for="Actor.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Name" class="control-label"></label>
                <input asp-for="Actor.Name" class="form-control" />
                <span asp-validation-for="Actor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
