@page
@model IndexModel
@{
    ViewData["Title"] = "MovieReviewer";
}
<form id="search-form">
    <input type="text" name="query" placeholder="Search for movies...">
    <button type="submit">Search</button>
</form>
<h2>
    List Movie
</h2>
<div id="movie-list">
    <div class="container row">
        @{
            foreach (var item in Model.ListAllMovie)
            {
                <a style="text-decoration:none;max-height:350px" href="Movies/Detail?id=@item.MovieId" class="col-md-3">
                    <img src="@item.Poster" style="height:100%;width:100%">
                    <h3>@item.MovieName</h3>
                </a>
            }
        }
    </div>
</div>


